@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


:root {
    --swm-green: #0065cc;
    --swm-blue: #52ae32;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#effectsButton {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    color: #9d9d9d;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
    background: #3a3a3a55;
    transition: all 0.3s ease;
}

#particles-js {
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

html,body {
    display: grid;
    height: 100%;
    width: 100%;
    place-items: center;
    background: #212325;
}
.wrapper {
    width: 380px;
    height: 85%;
    background: #2b2d2e;
    border-radius: 15px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow-y: auto;
}

.wrapper .title {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    line-height: 75px;
    color: #fff;
    user-select: none;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(-135deg, var(--swm-green), var(--swm-blue));
    position: relative;
    z-index: 2;
    margin-bottom: 10px;
}

.wrapper .form {
    padding: 10px 30px 50px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper .form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}


#queueList li {
    color: #9d9d9d;
    list-style-type: none;
    margin-bottom: 5px;
    padding: 10px;
    background-color: #3a3a3a;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
}

#queueList .empty{
    color: #9d9d9d;
    list-style-type: none;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #3a3a3a;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.wrapper .form ul li {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.wrapper .form ul li.fade-in {
    opacity: 1;
    transform: translateY(0);
}

#listWrapper {
    max-height: 30rem;
    width: 16rem;
    padding: 0.6rem 0.2rem 0 0.7rem;
    overflow-y: auto;
}

#queueList li:first-child {
    color: #000;
    background-color: rgb(108, 233, 108);
    font-weight: bold;
}

/*#queueList li:last-child {*/
/*    background-color: #ffd700;*/
/*    font-weight: bold;*/
/*}*/

.wrapper .form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    border: 1px solid var(--swm-green);
    border-radius: 20px;
    transition: all 0.3s ease;
    background-color: #2b2f38;
    color: var(--swm-green);
}

.wrapper .form .field label{
    position: absolute;
    top: 50%;
    left: 20px;
    color: var(--swm-green);
    font-weight: 400;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.form .field input:focus ~ label,
.form .field input:valid ~ label {
    top: 0;
    font-size: 16px;
    color: var(--swm-green);
    background: #2b2f38;
    transform: translateY(-50%);
}

#addButton.enabled,
#removeButton.enabled {
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    background: linear-gradient(-135deg, var(--swm-green), var(--swm-blue));
    transition: all 0.3s ease;
}

#themeButton:hover,
#addButton.enabled:hover,
#removeButton.enabled:hover{
    transform: scale(0.95);
}

#addButton.disabled,
#removeButton.disabled {
    color: #9d9d9d;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    /*cursor: not-allowed;*/
    pointer-events: none;
    background: #3a3a3a;
    transition: all 0.3s ease;
    /*text-decoration: line-through;*/
}


::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #5f5f5f;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(-135deg, var(--swm-green), var(--swm-blue));
}


#controlsWrapper {
    position: absolute;
    bottom: 3rem;
    width: 20rem;
}


#hat {
    display: block;
    margin: 0 auto;
    width: 10%;
    height: auto;
    object-fit: cover;
    z-index: 4;
    position: absolute;
    top: 2%;
    right: 36%;
    transform: rotate(20deg);
}

#frameRate {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: #9d9d9d;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
    background: #3a3a3a55;
}
